body {
    font-size: 18px;
    font-family: "spectral", serif;
}

body > div.container {
    padding: 4em;
    width: 100%;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-gap: 8em;
    grid-template-columns: min-content 65ch;
    width: 100%;
    background-color: #ffff;
    color: #000;
}

p {
  margin-top: 0;
}

h1 + p, h1 + div > p > img, h2 + p {
    margin-top: 0.5em !important;
}

h1, h2 {
    margin-bottom: 0;
}

.content img {
    max-height: 20rem;
    height: 100%;
    width: auto;
    display: block;
    /*margin: 1rem auto;*/
    margin: 0;
}

.recipe-image img {
    /*margin-left: 0;*/
    /*margin-top: 0;*/
    /*margin-bottom: 1em;*/
    margin: 1em 0;
}

.cooking.card-navigation > div > img {
    margin: 0
}

.card-navigation > div, .cooking.card-navigation > div {
    position: relative;
    background: black;
    height: 4em;
    width: fit-content;
    text-align: center;
    z-index: 2;
    margin: 0 0 1em;
    cursor: pointer;
}

.cooking.card-navigation > div {
    height: fit-content;
}

.cooking.card-navigation div.overlay {
    height: 20%;
}

nav img {
    height: 4em;
}

.card-navigation div.overlay {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;

    background: black;
    opacity: 0.3;
    z-index: 2;
}

.card-navigation p {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    margin: 0;

    font-size: 1em;
    color: white;
    z-index: 3;
}

p + ul {
    margin-top: -1em !important;
}

.content p:first-child {
    margin-top: 0;
}

.about p {
    white-space: pre;
}

h1 {
    margin-top: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 1em;
    margin-inline-start: -0.5em;
}

.image-gallery {
    display: grid;
    grid-template-columns: 100%;
}

.image-gallery img {
    object-fit: cover;
    width: 90%;
    height: 15rem;
}

/* Desktop specific */
@media only screen and (min-width: 768px) {
    .image-gallery {
        display: grid;
        column-gap: 5%;
        grid-template-columns: 30% 30% 30%;
    }

    .image-gallery img {
        object-fit: cover;
        width: 100%;
        max-height: 15rem;
    }

    p, ol, ul, li, summary {
        font-size: 1em;
        line-height: 1.3em;
    }
}

.content a {
    text-decoration: none;
    color: #007bff;
    /*
    background-color: #d0e7f5;
    color: black;
    */
}

nav p {
    line-height: 1em;
}

#map {
    width: 100%;
    height: 60em !important;
}

.mapbox-logo, .mapboxgl-ctrl-logo {
    display: none !important;
}

/* image captions */
img + em,
img + em + br + em,
img + em + br + em + br + em,
video + em
{
  font-size: 0.9em;
}

div.update-grid {
  display: grid;
  grid-gap: 0 2em;
  grid-template-columns: 48% 48%;
}

div.update-grid img, div.update-grid video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* mobile specific */
@media only screen and (max-device-width: 768px) {
  .grid-container, div.update-grid {
      display: inline;
  }

  nav {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-bottom: 1em;
  }

  nav > div {
      margin-bottom: 0.5em !important;
  }

  body > div.container {
    padding: 0.5em;
  }
}
