body {
    background-color: white;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.mobile-only {
    display: none !important;
}

.timeline-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.timeline-container > div {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin-left: 60ch;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    margin-block-start: 0;
}

.column-left {
    position: sticky;
    height: 100%;
    padding: 0 4em;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    row-gap: 0.1em;
    background-image: linear-gradient(
        to right,
        white 90%,
        rgba(255, 255, 255, 0)
    );
}

.timeline-container .month-column {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    margin-right: 50px;
    width: 55ch;
}

.column-left p {
    margin-bottom: 0;
}

.column-left nav {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #007bff;
}

.timeline-container .month-column img {
    max-width: 100%;
}

@media only screen and (max-device-width: 768px) {
    body {
        font-size: 1em;
    }
    .timeline-container ul {
        padding: 0;
        list-style: none;
        margin-inline-start: 0;
    }
    .timeline-container li {
        display: inline;
    }
    .timeline-container .month-column li:after {
        content: " || "
    }
    .timeline-container .month-column li:last-child:after {
        content: ""
    }
    .column-left.mobile-only {
        padding: 1em;
        padding-bottom: 0;
    }
    .timeline-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: calc(100vw - 2em);
        height: max-content;
        padding: 1em;
        row-gap: 2em;
        scroll-margin-left: 0;
    }
    .timeline-container > div {
        flex-shrink: 0;
        scroll-snap-align: start;
        scroll-margin-left: 1em;
    }
    /*
    div.timeline-container:nth-child(2) h1:after {
        content: " (swipe left!)"
    }
    */
    h1 {
        font-size: 1.4em;
    }
    .column-left {
        padding: 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: max-content;
        row-gap: 0.1em;
        background-image: none;
    }

    .timeline-container .month-column {
        width: 100%;
    }

    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }
}

